* {
  padding: 0;
  margin: 0;
}

.page1 {
  width: 100%;
  height: 80dvh;
  background-image: url(17818.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 72px;
  position: absolute;
  top: 20%;
  left: 5%;
}

span {
  text-transform: uppercase;
}

.medicina {
  color: steelblue;
}

.opit {
  font-size: 32px;
  position: absolute;
  top: 40%;
  left: 5%;
}

.btn {
  width: 15%;
  height: 5vh;
  border: none;
  outline: none;
  color: white;
  border-radius: 20px;
  background-color: steelblue;
  position: absolute;
  left: 5%;
  top: 50%;
  font-family: "Calibri";
}

nav {
  height: 10vh;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: grey;
}

a {
  font-size: 18px;
  margin: 8px;
}

.container {
  width: 100%;
  height: 100dvh;
  background-color: rgb(17, 59, 93);
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: 35% 35%;
  justify-content: center;
  align-content: center;
  grid-gap: 1%;
}

.items {
  border: 2px solid red;
}
